/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header {
  background-color: rgb(153, 10, 10);
}

.white {
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.logo {
  font-size: 30px;
  color: darkred;
  text-decoration: none;
}
.logo span {
  font-size: 30px;
  color: rgb(9, 9, 66);
  text-decoration: none;
}

.pages {
  color: black;
  font-size: 18px;
  margin-left: 12px;
  text-decoration: none;
}

.logo-section {
  background-color: white;
}

.about-section {
  padding: 40px 0;
}
.about-section h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 36px;
}
.about-section p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.aboutus {
  padding: 30px 0;
}
.aboutus .para {
  color: darkred;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: left;
}
.aboutus h2 {
  color: black;
  line-height: 1.5;
  font-size: 30px;
  margin-bottom: 16px;
  text-align: left;
}
.aboutus p {
  color: gray;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
.aboutus img {
  width: 450px;
  margin-left: 40px;
}

.vision {
  padding: 40px 0;
}
.vision img {
  width: 300px;
}
.vision h3 {
  font-size: 16px;
  text-align: left;
  margin-bottom: 16px;
}
.vision p {
  font-size: 16px;
  text-align: left;
  color: grey;
  line-height: 1.5;
}
.vision a {
  color: rgb(7, 7, 57);
  margin-right: 32px;
}

.vision-margin {
  margin-bottom: 30px;
}

.team-section {
  background-color: rgb(212, 230, 230);
  padding: 40px 0;
}
.team-section h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
}
.team-section p {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}
.team-section img {
  width: 250px;
}

.teamp {
  font-size: 14px;
  color: darkred;
}

.team-names {
  background-color: white;
  width: 250px;
  padding: 10px 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.solution {
  padding: 40px 0;
}
.solution h2 {
  color: black;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.solution p {
  color: gray;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.solution a {
  width: 100px;
  height: 30px;
  padding: 10px 10px;
  text-align: center;
  background-color: darkred;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
.solution div {
  text-align: center;
}

.clients {
  padding: 40px 0;
  background-color: rgb(192, 237, 237);
}
.clients h2 {
  color: black;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.clients img {
  margin: 0 12px;
  text-align: start;
}

.footer {
  background-color: rgb(27, 27, 60);
  padding: 40px 0;
}
.footer h3 {
  color: rgb(222, 217, 217);
  font-size: 18px;
  margin-bottom: 18px;
  text-align: start;
}
.footer p {
  color: grey;
  font-size: 16px;
  margin-bottom: 18px;
  line-height: 1.5;
  text-align: start;
}
.footer a {
  color: rgb(222, 217, 217);
  margin-right: 12px;
  text-align: start;
}

.footer-section p {
  text-align: center;
  color: grey;
  margin-bottom: 16px;
  font-size: 16px;
}
.footer-section div {
  text-align: center;
  color: grey;
  margin-bottom: 16px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .header-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .flex {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    margin-top: 20px;
  }
  .vision-margin {
    flex-wrap: nowrap;
  }
  .flex-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
.contact-section {
  padding: 40px 0;
  background-color: rgb(209, 216, 220);
}
.contact-section p {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  color: grey;
}
.contact-section a {
  color: darkred;
  width: 26px;
  height: 26px;
  background-color: rgb(167, 210, 227);
  border-radius: 50%;
  padding: 6px 6px;
}
.contact-section h3 {
  color: black;
  font-size: 16px;
  margin-bottom: 14px;
  margin-top: 14px;
}
.contact-section p {
  color: grey;
  font-size: 14px;
}

.knowus-section {
  padding: 40px 0;
}
.knowus-section h2 {
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.knowus-section p {
  text-align: center;
  color: grey;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 16px;
}
.knowus-section .input {
  width: 400px;
  height: 30px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.knowus-section textarea {
  width: 420px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.knowus-section a {
  width: 60px;
  height: 20px;
  border-radius: 10px;
  padding: 6px 6px;
  background-color: rgb(174, 64, 64);
  text-decoration: none;
  color: whitesmoke;
  margin: 30px 0;
}

.drop {
  background-color: rgb(181, 196, 203);
}

.option:hover {
  color: rgb(195, 80, 80);
}

.banner img {
  width: 100%;
}
.banner h1 {
  font-size: 50px;
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  margin-top: -360px;
  word-spacing: 2;
}
.banner h2 {
  font-size: 50px;
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner p {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
}

.aq {
  width: 80px;
  height: 30px;
  padding: 10px 10px;
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(166, 63, 63);
}

.contact-background {
  background: none;
  margin: -80px 0;
  margin-bottom: 40px;
}

.service-section {
  padding-top: 200px;
}
.service-section h2 {
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.service-section p {
  color: gray;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
.service-section .service-border {
  border: 0.5px solid gray;
  padding: 14px 0;
  margin-left: 14px;
  border-radius: 4px;
}
.service-section h3 {
  color: black;
  font-size: 16px;
  margin-bottom: 16px;
}
.service-section a {
  color: darkred;
  border: 1px solid darkred;
  text-align: center;
  width: 40px;
  height: 20px;
  padding: 6px 6px;
  text-decoration: none;
  border-radius: 12px;
}
.service-section img {
  width: 60px;
  height: 60px;
  text-align: center;
  margin-bottom: 16px;
}

.service-section-padding {
  margin-bottom: -240px;
  background-color: rgb(190, 204, 210);
  padding: 40px 0;
}
.service-section-padding h2 {
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.service-section-padding p {
  color: gray;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
.service-section-padding a {
  color: darkred;
  border: 1px solid darkred;
  text-align: center;
  width: 40px;
  height: 20px;
  padding: 6px 6px;
  text-decoration: none;
  border-radius: 12px;
  margin: 20px 0;
}
.service-section-padding div {
  text-align: center;
  margin: 20px 0;
}

.firm-section {
  margin-top: 260px;
}
.firm-section img {
  width: 60px;
  height: 60px;
  text-align: center;
  margin-bottom: 16px;
}
.firm-section h2 {
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
  font-size: 30px;
}
.firm-section p {
  color: gray;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
.firm-section a {
  color: darkred;
  border: 1px solid darkred;
  text-align: center;
  width: 40px;
  height: 20px;
  padding: 6px 6px;
  text-decoration: none;
  border-radius: 12px;
  margin: 20px 0;
}
.firm-section .team {
  width: 400px;
  height: 300px;
  margin-left: 20px;
}

.request-section {
  background-color: rgb(178, 48, 48);
  padding: 20px 0;
}
.request-section h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
}
.request-section p {
  color: white;
  font-size: 14px;
}
.request-section a {
  color: whitesmoke;
  border-radius: 20px;
  padding: 6px 6px;
  border: 1px solid whitesmoke;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .banner h1 {
    margin-top: 10px;
  }
  .service-section {
    margin-top: -120px;
  }
  .service-section .service-border {
    margin-bottom: 20px;
  }
  .request-section p {
    margin-bottom: 20px;
  }
}
.pricing-background {
  background-color: rgb(188, 209, 218);
  padding: 40px 0;
}

.pricing-section {
  padding: 40px;
}
.pricing-section p {
  color: grey;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.dollar-section {
  padding: 20px 0;
}
.dollar-section h4 {
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
.dollar-section h2 {
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.dollar-section p {
  color: gray;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}
.dollar-section a {
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  border-radius: 20px;
  width: 60px;
  height: 20px;
  padding: 6px 6px;
}
.dollar-section .dollar-border {
  border: 1px solid gray;
  padding: 40px 120px;
  background-color: white;
}

.frequent h3 {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}
.frequent p {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}
.frequent .frequent-border {
  border: 1px solid gray;
  padding: 30px 10px;
  margin: 20px 0;
}

.service-section {
  background-color: rgb(195, 219, 228);
}
.service-section h2 {
  margin-top: -180px;
}

.firm-border {
  background: none;
}/*# sourceMappingURL=style.css.map */